@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Preloader */
.loader-wrapper{
	position: fixed;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, #000000, #414141);
	z-index: 999999;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

}

.loader{
	height: 130px;
	width: 130px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: loading 1s;
	animation-iteration-count: infinite;
}
.loader .loaderImage{
	height: 100px;
	width: 120px;
	animation: load 1s;
	animation-iteration-count: infinite;
}

.disappear{
	animation: vanish 1s forwards;
}
@keyframes vanish{
	100%{
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes load{
	0%{
		transform: rotate(0deg);
	}
	5%{
		transform: rotate(18deg);
	}
	10%{
		transform: rotate(36deg);
	}
	15%{
		transform: rotate(54deg);
	}
	20%{
		transform: rotate(72deg);
	}
	25%{
		transform: rotate(90deg);
	}
	30%{
		transform: rotate(108deg);
	}
	35%{
		transform: rotate(126deg);
	}
	40%{
		transform: rotate(144deg);
	}
	45%{
		transform: rotate(162deg);
	}
	50%{
		transform: rotate(180deg);
	}
	55%{
		transform: rotate(198deg);
	}
	60%{
		transform: rotate(216deg);
	}
	65%{
		transform: rotate(234deg);
	}
	70%{
		transform: rotate(252deg);
	}
	75%{
		transform: rotate(270deg);
	}
	80%{
		transform: rotate(288deg);
	}
	85%{
		transform: rotate(306deg);
	}
	90%{
		transform: rotate(324deg);
	}
	95%{
		transform: rotate(342deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes loading{
	0%{
		border-color: white;
	}
	10%{
		border-color: black;
	}
	20%{
		border-color: white;
	}
	30%{
		border-color: black;
	}
	40%{
		border-color: white;
	}
	50%{
		border-color: black;
	}
	60%{
		border-color: white;
	}
	70%{
		border-color: black;
	}
	80%{
		border-color: white;
	}
	90%{
		border-color: black;
	}
	100%{
		border-color: white;
	}

}